
section{
    display: flex;
    margin-top: 2%;
    margin-left: 4%;
    padding-left: 2%;
}

.aside{
    height: 40vh;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    border: 1px solid rgb(7, 148, 7);
    position: relative, fixed;
    background: rgb(250, 249, 249);
}

.aside h3{
    line-height: 40px;
    text-align: center;    
    background: rgb(7, 148, 7);
    color: white;
}

.aside ul{
    list-style: none;
    font-size: 90%;
    padding-top: 5px;
    padding-left: 10px;
}

.aside ul p{    
    color: black;
}

.aside ul p:hover{
    color: orange;
}

.more{
    display: none;
    width: 50%;
    margin: 8%;
}

.frames{
    margin-top: 20px;
    margin-right: 2%;
    padding: 5%;
    text-align: center;
}

.frames iframe{
    margin-top: 100%;
}

main{
    display: flex;
}

.page-wrapper a{
    color: orange;
}

.container{
    padding-left: 8%;
}

.landing{
    font-size: 40px;
}

.intro{
    max-width: 60%;
}

.title {
    font-size: 35px;
}

.text{
    width: 80%;
    padding: 3% 1%;
}

.after{
    width: 80%;
    padding-left: 1%;
}

img{
    max-width: 65%;
    position: relative;
    padding-left: 2%;
}

p{
    padding-top: 10px;
}

.eighty {
    width: 90%;
}
.about{
    width: 60%;
    margin-left: 10%;
    text-align: center;
}

.think{
    margin: 2% 10%;
}

.under{
    background:linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.1)), url(../Pics/fruits4.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
    color: whitesmoke;
}

.btnl{

    max-width: 85%;
    max-height: 100%;
}

.last{
    background-color: rgba(0,0,0,.5);
    padding: 5%;
    margin-left: 20%;
    font-family: Libre Baskerville !important;
}

.connect{
    height: 40vh;
    width: 100%;
    align-content: center;
    margin: 4% auto;
    padding-left: 15%;
}

.connect h2{
    text-decoration-line: underline;
}

.connect .facebook a {
    color: #436aaf;
}

.connect .twitter a{    
    color: #00aced;
}

footer{
    height: 100vh;
    background: rgb(2, 46, 2);
    color: white;
    font-size: 130%;
}

.footer-nav ul li{
    list-style: none;
}

.footer-nav ul li a, footer h2, a{
    color: whitesmoke;
    font-weight: 500;
}

footer span{
    color: rgb(250, 176, 37);
}

.footer-nav ul li a:hover{
    color: rgb(250, 176, 37)}

.designer{
    text-align: center;
    height: 50px;
    width: 100%;
    background: rgb(25, 37, 44);
    color: rgb(236, 218, 218);
    padding-top: 15px;
    left: 0px;
    bottom: 0px;

}



@media(max-width: 930px){
    .landing{
        font-size: 35px;
        padding-left: 13%;
    }

    
}

@media (max-width: 812px){
    .landing{
        padding-left: 8%;
    }

    footer .container{
        display: block;
    }
    .footer-nav {
        margin: 40px;

    }
}


@media (max-width: 550px){
    .intro h2{
        font-size: 30px;
    }
    .aside{
        display: none;
    }
    #sticky-social {
        display: none;
    }

    .under{
        height: 100%;
    }

    .more{
        display: block;
        width: 80%;
    }
}

@media (max-width: 360px){
    .intro h2{
        font-size: 25px;
    }
    .eighty h2{
        font-size: 20px;
    }
    .footer-nav{
        font-size: 95%;
    }

    .connect h2{
        font-size: 1.1rem;
    }

    #rights{
        font-size: 80%;
    }
    .landing{
        font-size: 160%;
        padding-left: 2%;
    }
}



@media (max-width: 285px){
    #Home{
        height: 70vh;
    }

    .text {
        width: 80%;
    }
    .after{
        width: 80%;
    }
    .image{
        width: 155%;
    }
    .title {
        font-size: 18px;
    }
    
    
}


@media (max-width: 250px){
    footer .container .email{
        font-size: 90%;
    }
    .landing{
        padding-left: 3px;
        font-size: 122%;
    }
}

@media (max-width: 195px){

    .page-wrapper{
        font-size: 60%;
    }
    .intro .text .after .eighty{
        width: 90%;
    }

}

