
  .center {
    height: 40vh;
  }
  
  #social {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
  }
  
  #social ul {
    text-align: center;
    padding-left: 10px;
  }
  
  #social li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
  }
  
  #social li:first-child {
    margin-left: 0px;
  }
  
  #social li:last-child {
    margin-right: 0px;
  }
  
  
  /** Facebook **/
  
  .facebook {
    width: 50px;
    height: 50px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  
  .facebook .border {
    background: transparent;
    outline: none;
    width: 50px;
    height: 50px;
    border: 2px solid#436aaf;
    transition: all .2s ease-in-out;
  }
  
  .facebook .border:hover {
    background: white;
    border-color: #436aaf;
    transform: scale(1.2);
  }

  .fa.fa-facebook {
    font-size: 25px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }
  
  
  /** Twitter **/
  
  .twitter {
    width: 50px;
    height: 50px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  
  .twitter .border {
    background: transparent;
    outline: none;
    width: 50px;
    height: 50px;
    border: 2px solid #00aced;
    transition: all .2s ease-in-out;
  }
  
  .twitter .border:hover {
    background: white;
    border-color: #72c6e6;
    transform: scale(1.2);
  }
  
  .fa.fa-twitter {
    font-size: 25px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }
  
  